name: Release Tagging

on:
  release:
    types: [created]

jobs:
  tag-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Push Major Version Tag
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          echo "${{ github.event.release.tag_name }}"
          MAJOR_VERSION=$(echo "${{ github.event.release.tag_name }}" | cut -d'.' -f1)
          echo "Major version: $MAJOR_VERSION"
          git tag "${MAJOR_VERSION}"
          git push -f origin "${MAJOR_VERSION}"
